@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    color: #fff;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: right;
    padding: 10px;
    background-color: #007bff;
}