@charset "ISO-8859-1";

form {
  max-width: 400px;
  margin: 0 auto;
}


form div {
  margin-bottom: 15px;
}


form label {
  display: block;
  margin-bottom: 5px;
}


form .error {
  color: red;
  font-size: 14px;
}